<template name="home">
  {{> goToChat }}
  {{> trendingVideos }}
</template>

<template name="goToChat">
  <div class="go-to-container">
    <h2>Enter youtube URL here</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Youtube URL goes here" />
      <div class="input-group-btn">
        <button id="makeChat" type="button" class="btn btn-default">Create a Chat Room</button>
      </div>
    </div>
  </div>
</template>

<template name="trendingVideos">
  <div class="trending-videos-container">
    <h2>Or, check out these active rooms</h2> 
    <div class="trending-videos row">
      {{> trendingVideo }}
      {{> trendingVideo }}
      {{> trendingVideo }}
    </div>
  </div>
</template>

<template name="trendingVideo">
  <div class="trending-video col-md-4 col-sm-12">
    <h3>Title</h3>
    {{> youtubeVideo }} 
    <p>N chatters</p>
  </div>
</template>
