/* padding and margin don't increase the max width */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.chat-message {
  position: relative; 
  padding: 10px;
  margin-bottom: 5px;

  background-color: #f0f0f0;
}

  /* .chat-message:after { */
  /*   clear: both } */

  .chat-message .message-author {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }

  .chat-message .message-author img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: url('http://lorempizza.com/30/30') no-repeat; }

  .chat-message .message-author .author-name {
    font-size: 10px; }

  .chat-message .message-content {
    display: inline-block;
    padding-left: 5px;
    color: black; }

  .chat-message .message-content .message-body {
    font-size: 14px; }

  .chat-message .message-content .message-time {
    color: #aaaaaa;
    font-style: italic;
    font-size: 10px; }
